<div class="container">
  <app-header title="HemoSense"></app-header>
</div>

<div class="container">
  <app-link-box
    title="Classification"
    description="Get predictions for blood cell images"
    link="classification"
  ></app-link-box>

  <app-link-box
    title="Improve Model"
    description="Help the classification model to make better predictions "
    link="improve-model"
  ></app-link-box>

  <app-link-box
    title="Model Performance"
    description="Monitor model performance metrics "
    link="performance"
  ></app-link-box>
</div>

<div class="container">
  <app-link-box
    title="Segment Images"
    description="Segment new blood cell data - Requirement for labeling"
    link="segmentation"
  ></app-link-box>

  <app-link-box
    title="About"
    description="More information regarding the project & our team"
    link="about"
  ></app-link-box>
</div>
